@{
    ViewBag.Title = "דף הבית";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="welcome-section">
        <h1>ברוכים הבאים </h1>
        <p>הספרייה הדיגיטלית שלכם</p>
    </section>
    <section class="featured-books">
        <h2>ספרים מומלצים</h2>
        
    </section>
</main>

<style>

</style>