@{
    ViewBag.Title = "דף הבית";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Home/css/file-explorer.css">
<link rel="stylesheet" href="~/Content/Home/js/file-explorer.js">

<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiRead</title>
</head>
<body>
    <main>
        <section class="welcome-section">
            <h1>DigiRead</h1>
            <h2>חווית קריאה דיגיטלית</h2>
            <img src="~/Content/Illustrative-Colorful-Library--unscreen.gif" alt="תמונת ספרייה" class="library-poster" />
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
